<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>Good Angular directives</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="lib/require.js" data-main="js/app"></script>
</head>

<body>

	<div ng-controller="PhotoCtrl">
	    <photo photo-src="{{photo.url}}" caption="Taken on: {{photo.date}}" />
	</div>

	<div ng-controller="ToggleCtrl">
	    <button toggle="preferences.showDetails" active-class="yellow-active">Show details</button>
	    <article ng-show="preferences.showDetails">Temporary text to be toggled</article>
	</div>

    <div ng-controller="ListAppCtrl">
        <ol>
            <li ng-repeat="user in users"
                mouse-over
                mouse-over-value="user.name"
                react-to="user"></li>
        </ol>
        <ul>
            <li ng-repeat="user in users"
                mouse-over
                mouse-over-value="user.name"
                react-to="user"></li>
        </ul>
    </div>

</body>

</html>
